:root {
    --color-bg: #282828;
    --color-green: #689d6a;
}

body {
    background-color: var(--color-bg);
    color: var(--color-green);
    height: 90vh;
}

header > h1 {
    text-align: center;
}

main {
    display: flex;
    height: 90%;
    justify-content: space-around;
    margin: 2%;
}

#note-list-container, #note-editor-container {
    width: 45%; 
    border: 1px solid var(--color-green);
}

#note-editor-container > textarea {
    height: 90%;
    width: 90%;
    display: block;
    margin: 5%;
    background-color: #665c54;
    color: white; 
    resize: none;
}

#note-editor-container > textarea::placeholder {
    color: white;
    opacity: 50%;
}

#note-list-buttons {
    padding: 2%;
    margin: 2%;
}

.note-li {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-green);
    padding: 2%;
    margin: 2%;
}

.note-li:hover {
    background-color: var(--color-green);
    color: var(--color-bg);
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

#keybinds {
    text-align: center;
}

hr {
    color: var(--color-green);
}
